  <div class="product-card" *ngFor='let item of products'>
    <div class='wallpaper-photo'>
      <!-- <img mat-card-image src="{{i.image}}" alt="Wheel photo"> -->
    </div>
    <div>{{item.name}}</div>
    <div><p>Артиул:</p>{{item.articul}}</div>
    <div><p>Бренд:</p>{{item.brand}}</div>
    <div><p>Цена:</p>{{item.price}}</div>
    <div class='order-btn-wrapper'>
      <button (click)='addToCart(item)' class='order-btn'>Заказать</button>
    </div>
  </div>

<!-- <div class='content-wrapper'>
  <div class='product-card' *ngFor='let wallpaper form wallpapers'>
    <div class='photo-wrap'>
      <img src='{{wallpaper.image}}'/>
    </div>
  </div>
</div> -->
