<!-- <div class='content-wrapper'>
  <mat-card class="product-card" *ngFor='let i of wallpapers'>
    <div class='wallpaper-photo'>
      <img mat-card-image src="{{i.image}}" alt="Wheel photo">
    </div>
    <div>{{i.name}}</div>
    <div><p>Артиул:</p>{{i.articul}}</div>
    <div><p>Бренд:</p>{{i.brand}}</div>
    <div><p>Цена:</p>{{i.price}}</div>
    <div class='order-btn-wrapper'>
      <button (click)='selectProduct()' class='order-btn'>Заказать</button>
    </div>
  </mat-card>
</div> -->

<h1>main-content works!</h1>

<!-- <div class='content-wrapper'>
  <div class='product-card' *ngFor='let wallpaper form wallpapers'>
    <div class='photo-wrap'>
      <img src='{{wallpaper.image}}'/>
    </div>
  </div>
</div> -->
