$fonts-path: '/assets/fonts/';

$white:#ffffff;
$order:#9760b8;
$black:#000000;
$text:#363636;
$button:#9054b2;
$cart:#a676c1;
$input-placeholder:#d3d2d3;
$input:#f5f3f5;
$input-text:#b6b5b6;

$openSansBold: 'OpenSans-Bold', sans-serif;
$openSans: 'OpenSan', sans-serif;
$openSansLight: 'OpenSans-Light', sans-serif;
$openSansSemiBold: 'OpenSans-Semibold', sans-serif;
